
        .navbar {
            font-family: 'Roboto',sans-serif; 
            background-color: rgba(0, 0, 0, 0.671);
            position: fixed; 
            width: 100%; 
            z-index: 1000; 
            height: 70px; 
            font-size: 17px;
            }
        .nav {
            text-align: center; 
            width: 100%; 
            display: flex; 
        align-items: center; 
            }
        
        .content {
            padding-top: 70px; 
        }

        
        #carouselExampleIndicators .carousel-item img {
            height: 800px; 
            object-fit: cover; 
        }
        .nav-link {
            color: rgb(255, 255, 255); 
        }

        .nav-image{
            width: 30px; 
        height: auto; 
        margin: 0 15px; 
        vertical-align: middle;
        }
        .carousel-caption {
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            background-color: rgba(0, 0, 0, 0); 
            padding: 20px; 
            text-align: center; 
        }
        
        .carousel-caption h5 {
            
            font-family: 'Dancing Script', cursive; 
            color: white; 
            font-size: 70px; 
            color: white; 
           
        }
        
        .carousel-caption p {
            font-size: 30px; 
            color: white; 
            font-family: 'Roboto',sans-serif; 
        }
        h2 {
            font-family: 'Dancing Script', cursive;
            font-size: 50px; 
            color: #333; 
        }
        
        h4 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px; 
            color: #555; 
        }
        
        .container p {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem; 
            color: #666; 
            max-width: 800px; 
            margin: auto; 
        
        }
        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #333;
            color: white;
            position: relative; 
            bottom: 0;
            width: 100%;
        }

        @media (max-width: 600px) {
            nav ul {
                flex-direction: column;
            }
        }


