
.navbar {
    font-family: 'Roboto', sans-serif; 
    background-color: rgba(0, 0, 0, 0.671); 
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
    height: 70px; 
    font-size: 17px;
}

.nav {
    text-align: center; 
    width: 100%; 
    display: flex; 
    align-items: center; 
}

.nav-link {
    color: rgb(255, 255, 255); 
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: #333;
}

h4 {
    color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    padding-top: 70px; 
}

img {
    width: 100vw; 
    max-height: 800px; 
    height: auto; 
    display: block; 
}

.image-caption {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 200%; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.image-caption a {
    display: inline-block; 
    margin-top: 20px; 
    font-size: 40px; 
    background-color: transparent;
    color: white; 
    border: 2px solid white; 
    font-size: 36px;

}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}